body {
    /* Background Color */
    --mr-background-color: #000000;
    /* Sidebar Color */
    --mr-sidebar-color: #1f1f1f;
    /* Active Tab Color */
    --mr-active-tab-color: #6a6a6a;
    /* Inactive Tab Color */
    --mr-inactive-tab-color: #333333;
    /* Tab Background Color */
    --mr-tab-background-color: #1f1f1f;
    /* Font Color */
    --mr-font-color: #ffffff;
    /* Font */
    --mr-font: "Ubuntu";
    /* Primary Color */
    --mr-primary-color: #0078d4;
}